*{
    margin: 0;
    padding: 0;
    font-family: "Sen", sans-serif;
}

header{
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.banner{
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0),rgba(0,0,0,0.5)),url(src/FcsAhnXaMAED4LS.jpg); */
    background-color:#161617;
    /* background-color: #000; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation:blur 3s forwards;
    z-index: -1;
}

@keyframes blur{
    45%{
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }
    100%{
        filter: blur(8px);
  -webkit-filter: blur(8px);
    }
}



.row{
    /* background: linear-gradient(rgba(27,93,88, 0.5), rgba(27,93,88, 0)); */
    /* background: linear-gradient(120deg,#05b2ac 5%,#55417e 80%); */
    /* background: linear-gradient(120deg,#08b09b 5%,#8cbb2d 95%); */
    background: rgba(37, 37, 39, 0.8);
    /* background-color: #000; */
    backdrop-filter: blur(50px);
    height: 50px;
    position: relative;
    /* box-shadow: 10px 1px 10px 5px rgba(0, 0, 0, 0.5); */
}


.row .navbar {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: -10px;
  padding: 0px 0;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-icon{
  position: absolute;
  right: 10px;
}

#site-logo {
  color: #eee;
  position: fixed;
  width: 120px;
  left: 150px;
  top: 5px;
  cursor: pointer;
}

.navbar ul{
  display: flex;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  margin-top: 10px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  padding: 20px 0;
  color: rgba(255, 255, 255, .8);
  text-transform: uppercase;
  font-weight: 400;
}

.navbar ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: white;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: width 0.5s ease-in-out;
}

.navbar ul li:hover::after{
    width: 100%;
}

#arrow_down {
    display: flex;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #fff;
  }

.dropdown{
    position: relative;
}

.dropdown_content{
    opacity: 0; 
    pointer-events: none;
    transition: opacity 200ms ease-in-out;
    position: absolute;
    min-width: 160px;
    /* text-align: center; */
    margin-top: 0px;
    /* padding-left: 5px; */
    padding-top: 42px;
}

.dropdown_content_shadow
{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0, 0.2);

}

.dropdown_content a{
    cursor: pointer;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    background-color:rgba(0,0,0, 0.5);
    color: black;
    transition: background-color 200ms ease-in-out;
}

.dropdown_content a span{
    position: absolute;
    opacity: 0.8;
    font-size: 70%;
    right: 20px;
    padding-top:5px;

}
.dropdown_content img{
    width: 10%;
    opacity: 50%;
}

.dropdown_content a:hover{
    background-color: rgba(85,127,117,0.8);
}

.dropdown:hover .dropdown_content, .dropdown_content:hover {
    pointer-events: auto;
    opacity: 1;
}

.about_us{
    width: 100%;
    position: absolute;
    top:50%;
    /* transform: translateY(-50%); */
    text-align: center;
    color: #fff;
    animation: fadeinOut 3s forwards;
    z-index: 1;
}

.about_us h1{
    font-size: 200px;
    margin-top: 80px;
}


@keyframes fadeinOut {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
  }



  .bodyy{
    width: 100%;
    /* margin: 0 30px; */
    position: relative;
    /* background-color: rgba(90,140,128, 0.2); */
    animation: appear 6s forwards;

}

@keyframes appear{
    0%{
        opacity: 0;
    }
    50%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}

.content1{
  width: 100%;
  display: flex;
  position: relative;
}


.screen-size{
  width: 100%;
  position: relative;
  margin: 0 auto;
}


.star{
  position: absolute;
  width: 32.91%;
  height: 650px;
  top: -150px;
  left: -10px;
  /* background-color: blue; */
  overflow: hidden;
  z-index: -1;;
}
.star img{
  position: relative;
  right: 100px;
  bottom: -20px;
  width: 500px;
}
.girls1{
  position: absolute;
  width: 32.91%;
  height: 650px;
  top: -150px;
  right: 0px;
  /* background-color: blue; */
  overflow: hidden;
  z-index: -1;;
}

.girls1 img{
  position: relative;
  right: 150px;
  bottom: 40px;
  width: 800px;
}

.small-about-us{
    width: 100%;
    /* padding: 30px; */
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    color: #eee;
}

.about_us p{
    margin:20px auto;
    font-weight: 100;
    line-height: 25px;
}

.team-member {
    display: flex;
    position: relative;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
  }
  
  ul.slides {
    position: relative;
    width: 800px;
    height: 420px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow: hidden;
  }
  
  li.slide {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    font-size: 120px;
    color: #fff;
    transition: .5s transform ease-in-out;
  }
  
  .slide:nth-of-type(1) {
    background-image: url(src/lawyouzhen.png);
    background-size: cover;
    background-position: center;
  }
  
  .slide:nth-of-type(2) {
    background-image: url(src/gohweiting.png);
    background-size: cover;
    background-position: center;
    left: 100%;
  }
  
  .slide:nth-of-type(3) {
    background-image: url(src/chenjunxu.png);
    background-size: cover;
    background-position: center;
    left: 200%;
  }
  
  .slide:nth-of-type(4) {
    background-image: url(src/choozhengyet.png);
    background-size: cover;
    background-position: center;
    left: 300%;
  }
  
  input[type="radio"] {
    position: relative;
    z-index: 100;
    display: none;
  }
  
  .controls-visible {
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
  }
  
  .controls-visible label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 3px;
    border: 2px solid #fff;
  }
  
  .slides input[type="radio"]:nth-of-type(1):checked ~ .controls-visible label:nth-of-type(1) {
    background-color: #333;
  }
  
  .slides input[type="radio"]:nth-of-type(2):checked ~ .controls-visible label:nth-of-type(2) {
    background-color: #333;
  }
  
  .slides input[type="radio"]:nth-of-type(3):checked ~ .controls-visible label:nth-of-type(3) {
    background-color: #333;
  }
  
  .slides input[type="radio"]:nth-of-type(4):checked ~ .controls-visible label:nth-of-type(4) {
    background-color: #333;
  }
  
  .slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
    transform: translatex(0%);
  }
  
  .slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
    transform: translatex(-100%);
  }
  
  .slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
    transform: translatex(-200%);
  }
  
  .slides input[type="radio"]:nth-of-type(4):checked ~ .slide {
    transform: translatex(-300%);
  }
  
  
  /* Left/Right Button Classes Below */
  
  .navigator {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    display: none;
  }
  
  .navigator i {
    font-size: 32px;
    color :#333;
  }
  
  .slides input[type="radio"]:nth-of-type(1):checked ~ .navigator:nth-of-type(1) {
    display: flex;
  }
  
  .slides input[type="radio"]:nth-of-type(2):checked ~ .navigator:nth-of-type(2) {
    display: flex;
  }
  
  .slides input[type="radio"]:nth-of-type(3):checked ~ .navigator:nth-of-type(3) {
    display: flex;
  }
  
  .slides input[type="radio"]:nth-of-type(4):checked ~ .navigator:nth-of-type(4) {
    display: flex;
  }

  

.something-talk{
  justify-content: center;
  position: relative;
  height: 400px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 60px; */
  width: 85%;
  background-color: rgba(58, 58, 58, 0.2);
  border-radius: 10px;
  display: flex;
  margin-bottom: 150px;
  transition: transform 0.8s, background-color 0.5s ease;
}

.something-talk:hover{
  transform: scale(1.02);
  background-color: rgba(221,226,225,.9);
}

.something-talk:hover .text, .something-talk:hover h2{
color: #000;
}


.something-talk .text{
  color: white;
  position: absolute;
  max-width: 60%;
  font-size: 22px;
  left: 20px;
  /* padding-left: 15px; */
  transition: all 0.5s ease;
}

.something-talk h2{
  
  font-size: 30px;
padding-top: 40px;
font-weight: 500;
color: white;
transition: all 0.5s ease;

}

.something-talk #enjoy-arts{
  font-family: "Caveat", cursive;
padding-top: 0;
/* margin: 20px 30px; */
font-size: 80px;
}

.something-talk img{
  margin-left: 30px;
  margin-top: 30px;
  position: absolute;
  left: 70%;
  width: 260px;
  box-shadow: 0px 5px 10px 2px #000;
}


.three-text{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;

}

.three-text .text1{
  width: 300px;
  height: 350px;
  background-color: rgba(58, 58, 58, 0.2);
  color: #eee;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  transform-origin: center;
  transition: all 0.5s ease;
}


.three-text .text1:hover{
  transform: scale(1.08);
  background-color: rgba(221,226,225,.9);
  color: #161617;
}
.three-text .text1 h3{
  margin-top: 10px;
  text-align: center;
  font-weight: 450;
  font-size: 35px;
  margin-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
}

.three-text .text1 p{
  width: 95%;
  position: relative;
  /* left: 50px; */
  margin: 0 auto;
  /* justify-content: center; */
  text-align: center;
  line-height: 1.75;
  font-weight: 400;
  font-size: 20px;
}

.container-brain{
  width: 100%;
  height: 430px;
  margin: 0 auto;
}

.brain {
    width: 95%;
    height: 430px;
    margin: 0 auto;
    /* background-color: #333; */
    background-image: url('src/brain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 199;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 5px 20px 2px #000;
    transform-origin: center;
    transition: transform 0.5s ease;
}

.brain:hover {
    transform: scale(1.05);
  }
  
  .total-services{
    background-color: rgba(58, 58, 58, 0.2);
    color: white;
    width: 80%;
    max-width: fit-content;
  height: 270px;
  padding-top: 20px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  left: 10px;
  display: flex;
  border-radius: 20px;
  transition: color 0.5s, transform 0.8s, background-color 0.5s ease-in-out;
}

.total-services:hover{
  transform: scale(1.05);
  background-color: rgba(235,235,235,0.9);
  color: #000;
}

.services{
  vertical-align: center;
  position: relative;
  margin-top: 30px;
  margin-left: 10px;
  width: 30%;
  height: 0px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}
.total-services h3{
  padding-bottom: 10px;
}
.services1, .services2{
  position: relative;
  letter-spacing: 3px;
  /* line-height: 5px; */
  width: 33%;
  height: 0px;
  font-size: 18px;
}

.services1{
  margin-right: 60px;
}

.services2{
  margin-right: 20px;
}
.services1-1, .services2-1{
  margin-bottom: 30px;
}

.total-services p{
  position: inherit;
}

.hr1{
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 50px;
  /* background-color: black; */
  
}

.hr1::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(86,86,86,0.5);
}

.forum {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 120px;
}

.forum a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
}

.circle {
  position: absolute;
  /* background-color: rgba(86, 86, 86, 1); */
  background-color: rgba(235,235,235,0.9);
  box-shadow: 0 0 1px 1px #333;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  /* opacity: 0; */
  z-index: 0;
}


.forum img {
  width: 100px;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}

.forum a:hover .circle {
  transform: scale(1.2);
  /* background-color: rgba(235,235,235,0.9); */
}

.forum a:hover img {
  transform: scale(1.2);
}

.copyright {
  /* padding: 0 160px; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  /* padding-bottom: 35px; */
  color: white;
  font-weight: 400;
  font-size: 20px;
  gap: auto;
  margin-bottom: 30px;

}

.copyright a {
  width: 10%;
  color: white;
}

#a1 {
  position: relative;
  left: auto;
  width: 10%;
}
@media (max-width:1300px) {
  .total-services{
   
  height: 400px;
  }
}
@media (max-width:1200px) {
  .something-talk img{
    display: none;
  }
  .something-talk .text{ 
    max-width: 80%;
  }

}
@media (max-width:1000px) {
  .brain {
    transform: scale(0.9);
  }

}

@media (max-width:800px) {
  ul.slides {
    width: 600px;
    height: 315px;
  }
  .something-talk{
    justify-content: center;
  }
  .something-talk img{
    display: none;
  }
  .something-talk .text{
    max-width: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .girls1 img{
    display: none;
  }
  .brain {
    transform: scale(0.8);
  }
}



  @media (max-width:770px) {
    .total-services{
    flex-wrap: wrap; 
    height: 700px;
    }
    .services{
      vertical-align: center;
      position: relative;
      margin-top: 0px;
      /* margin-left: 65px;
      margin-right: 180px; */
      width: 100%;
      height: 0px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 23px;
    }

    .services1, .services2{
    width: 40%;
    padding-left: 15px;
    font-size: 14px;
    margin-top: -180px;
    }
    .brain {
      transform: scale(0.7);
    }
  }
  
  @media (max-width:700px) {
    .total-services{
      flex-wrap: wrap; 
      height: 800px;
      }

    .services1, .services2{
      width: 30%;
      padding-left: 15px;
      font-size: 14px;
      margin-top: -200px;
      }
      .circle {
        
        width: 100px;
        height: 100px;
        border-radius: 50%;
        
      }
      
      .forum img {
        width: 60px;
        
      }
      .copyright {
       
        font-size: 10px;
        gap: auto;
      }
      .brain {
        width: 95%;
        height: 350px;
      }
  }
  @media (max-width:600px) {
    ul.slides {
      width: 400px;
      height: 210px;
    }
    .something-talk{
      justify-content: center;
    }
    .team-member {
      min-height: 100vh;
    }
    .brain {
      width: 95%;
      height: 250px;
    }
  }

  @media (max-width:500px){
    .services1, .services2{
      width: 90%;
      padding-left: 15px;
      font-size: 14px;
      margin-top: 18px;
      }
  }

  @media (max-width:450px) {
    .content1{
      transform: scale(0.8);
    }
  }
  


